
/* @font-face {
    src: url("/font/Kantumruy-Regular.woff") format("woff");
    font-family: "Kantumruy";
} */

body {
   font-family: 'Khmer OS Siemreap', sans-serif !important;
    font-weight: 500;
    font-size: 16px;
}
#side-bar {
	overflow: hidden;
	transition: 300ms;
}

.transaction-width{
    	overflow: hidden;
	transition: 300ms;
}
.side-bar-visible {
	width: 250px !important;
}
.side-bar-close {
	width: 50px !important;
}
.btn{
	text-transform: capitalize;
}
