@tailwind base;
@tailwind components;
  .router-link-exact-active{
    background: #172554!important ;
    color: #fff !important;
    border-left: 4px solid #ffff !important;
  }
  .header-table-font-khmer{
    font-family: 'Khmer OS Siemreap', sans-serif !important;
    font-weight: 600;
    font-size: 15px;
  }
  header.el-dialog__header {
    background: #1e40af;
    margin-right: 0px !important;
}

.el-dialog__headerbtn .el-dialog__close {
    font-size: 32px!important;
}

.el-message-box__headerbtn .el-message-box__close {
    font-size: 20px !important;
}

@tailwind utilities;