@tailwind base;
@tailwind components;
  .router-link-exact-active{
    background: #172554!important ;
    color: #fff !important;
    border-left: 4px solid #ffff !important;
  }
  .header-table-font-khmer{
    font-family: 'Khmer OS Siemreap', sans-serif !important;
    font-weight: 600;
    font-size: 15px;
  }
@tailwind utilities;